<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>mvvm-todolist</title>
    <style>
    </style>
</head>
<body>
    <div id="app">
        <h1>{{title}}</h1>
        <input type="text" v-model="inputVal">
        <button @click="add">添加</button>
        <ul>
            <li v-for="item in list">{{item}}</li>
        </ul>
    </div>
    <script src="./mvvm/compile.js"></script>
    <script src="./mvvm/index.js"></script>
    <script src="./mvvm/app.js"></script>
</body>
</html>